@import url("/fa/css/font-awesome.min.css");
@import url("/styles/csshake-horizontal.min.css");

html, body {
    height: 100%;
}

body {
    background: #eee;
    font-family: "Open Sans";
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 920px;
    margin: 0 auto;
}

/********* STICKY FOOTER *********/

.main {
    min-height: 100%;
    margin: 0 auto -40px;
}

.push {
    height: 40px;
}

/********* CONTENT *********/

.content {
    padding-top: 60px;
    padding-bottom: 50px;
    color: #666;
}

.content h1 {
    color: #202020;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

.content h2 {
    color: #666;
    font-size: 21px;
    font-weight: normal;
    margin: 0;
}

.content .right {
    float: right;
}

.content .form-control {
    font: inherit;
    width: 280px;
    padding: 6px 8px;
    background: transparent;
    border: 1px solid #999;
    border-radius: 3px;
    color: #666;
}

.content .form-control:focus {
    border: 1px solid #3da1cb;
    color: #202020;
}

.search {
    margin-top: 10px;
    background: #fff !important;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
}

.table tr td, .table tr th {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 8px 10px;
}

.table tr th {
    color: #444;
    background: #d6d6d6;
}

.table tr:hover {
    background: #f6f6f6;
}

.table a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    transition: color 100ms;
}

.table a:hover {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.block {
    display: inline-block;
    height: 165px;
    width: 48%;
    border: 2px solid #000;
    background: #09121c;
    border-radius: 5px;
    text-align: center;
    margin: 30px 0;
    box-sizing: border-box;
}

.block .credit-number {
    font-size: 40px;
    margin: 10px 0 0 0;
    padding: 0;
    color: #eee;
}

.block .dollar {
    font-size: 22px;
    color: #666;
    padding-right: 5px;
}

.block h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: normal;
    color: #ccc;
}

.block-spacer {
    display: inline-block;
    width: 3%;
}

.block .block-fixed-btn {
    width: 110px;
    display: inline-block;
    margin: 0 3px;
}

.right-content {
    margin-left: 240px;
    width: 680px;
}

/********* SIDEBAR *********/

.sidebar {
    float: left;
    display: block;
    width: 220px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin-bottom: 10px;
}

.sidebar ul li {
    border-bottom: 1px solid #ccc;
}

.sidebar ul li:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: 1px solid transparent;
}

.sidebar ul li.title {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #d6d6d6;
    padding: 8px 12px;
    font-weight: bold;
    border-bottom: 1px solid #bbb;
}

.sidebar ul li a {
    display: block;
    padding: 8px 10px;
    color: #666;
    text-decoration: none;
    transition: color 200ms, border 200ms;
    border-left: 2px solid transparent;
}

.sidebar ul li a.active, .sidebar ul li a.active:hover {
    color: #202020;
    border-left: 2px solid #246079;
    font-weight: bold
;}

.sidebar ul li a:hover {
    color: #202020;
    border-left: 2px solid #3da1cb;
}

/********* BUTTONS *********/

.btn {
    font: inherit;
    padding: 6px 10px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    transition: background 100ms;
}

.btn .fa {
    padding-right: 4px;
}

.btn-primary {
    background: #2f972f;
}
.btn-primary:hover, .btn-primary:focus {
    background: #2a872a;
}
.btn-primary:active {
    background: #1d5e1d;
}

.btn-secondary {
    background: #3da1cb;
}
.btn-secondary:hover, .btn-secondary:focus {
    background: #3690b6;
}
.btn-secondary:active {
    background: #396f86;
}

.btn-danger {
    background: #b2552c;
}
.btn-danger:hover, .btn-danger:focus {
    background: #a04c27;
}
.btn-danger:active {
    background: #803c1f;
}

.btn-tertiary {
    background: #4d545d;
}
.btn-tertiary:hover, .btn-tertiary:focus {
    background: #3d434a;
}
.btn-tertiary:active {
    background: #2a2e33;
}

/********* NAVIGATION *********/

.nav {
    background: #04080d;  /*#070e16;*/
    height: 40px;
    position: fixed;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.nav ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.nav ul li a {
    color: #ccc;
    text-decoration: none;
    padding: 8px 3px;
    margin: 0 7px;
    border-bottom: 2px solid transparent;
    transition: border 300ms, color 200ms, background 200ms;
}

.nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #246079;
}

.nav ul li a.nohover:hover {
    border-bottom: 2px solid transparent;
}

.nav ul li a.active {
    color: #fff;
    border-bottom: 2px solid #3da1cb;
}

.nav ul li.right {
    float: right;
}

.nav ul li.text {
    color: #666;
    margin-right: 5px;
}

.nav .pipe {
    color: #444;
    padding: 0 5px;
}

.nav .dropdown {
    background: #04080d;
    margin-top: 12px;
    padding-top: 0;
    box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.05);
    display: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav .dropdown li a {
    display: block;
    padding: 5px 10px;
    margin: 0;
}

.nav .dropdown li a:hover {
    background: #1d2025;
    border-bottom: 2px solid transparent;
}

.nav .dropdown li.divider {
    display: block;
    background: #1d2025;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav #notifications-icon {
    margin-top: -3px;
}

.nav .unread-icon-background {
    color: #04080d;
    margin-top: -6px;
    margin-left: 3px;
    font-size: 13px;
}

.nav .unread-icon {
    color: #008ec0;
    margin-top: -6px;
    margin-left: 3px;
    font-size: 9px;
}

/* TODO -- Add a border around the circle
           to distinguish it better */
/*.nav .unread-icon:before {
    border: 2px solid #04080d;
    border-radius: 50px;
}*/

.nav .logo {
    color: #666;
    font-size: 0.9em;
}

.nav .logo:hover {
    color: #555;
}

/********* FOOTER *********/

footer {
    background: #04080d;
    height: 40px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    text-align: right;
}

footer ul li {
    float: right;
    display: inline;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

footer ul li.left {
    float: left;
    color: #666;
}

footer ul li a {
    color: #666;
    text-decoration: none;
    padding: 8px 3px;
    margin: 0 7px;
    border-bottom: 2px solid transparent;
    transition: border 300ms, color 300ms;
}

footer ul li a:hover {
    color: #ccc;
    text-decoration: none;
}

/********* LOGIN *********/

body.login {
    background: #0a1420;
}

.loginbox {
    width: 350px;
    margin: 50px auto 0 auto;
    background: #eee;
    box-shadow: 0 0 3px 3px #000;
    border: 1px solid #fff;
    border-radius: 1px;
}

.loginbox-inner {
    padding: 20px;
}

.loginbox-inner h1 {
    text-align: center;
    margin: 0 0 25px 0;
    padding: 0;
    text-transform: uppercase;
    color: #666;
}

.loginbox-inner .form-control {
    font: inherit;
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.loginbox-inner .form-control:focus {
    border: 2px solid #81b2ce;
    outline: none;
}

.loginbox-inner .btn {
    font: inherit;
    width: 304px;
    padding: 14px 10px;
    border-radius: 4px;
    background: #2f972f;
    border: 0;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.loginbox-inner .btn:hover, .loginbox-inner .btn:focus {
    background: #2a872a;
    outline: none;
}

.loginbox-inner .btn:active {
    background: #1d5e1d;
}

.loginbox-inner p {
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 12px;
}

.loginbox-inner p a {
    color: #666;
    text-decoration: none;
}

.loginbox-inner p a:hover, .loginbox-inner p a:focus {
    color: #000;
    text-decoration: none;
}